<!DOCTYPE HTML>
<html>
	<head>
		<title>测试报告平台</title>
		<link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="/static/css//bootstrap.min.css">  
		<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>	
		<script src="/static/js/bootstrap-select.min.js"></script>
		<script src="/static/js/i18n/defaults-zh_CN.min.js"></script>
		<script src="/static/js/configure.js"></script>
		<script>
			var ipAddress = configure["address"];
						
			$(document).ready(function () {
				getEntry(0,0);
				getEntry_missingwrong(0,0);
			});
			
			var getEntry = function(startnumber,endnumber){
					$.ajax({
									url: ipAddress+"getsummary",
									type: "GET",
									dataType: "json",
									async: false, // 使用同步方式  
									//data:JSON.stringify({"starttime":starttime,"endtime":endtime,'Situation':jsondata}),
									contentType: "application/json; charset=utf-8", 
									success: function (data) {
										//alert("aaa");
									success_getEntry(JSON.stringify(data));
									},									
									complete:function(){	
										//alert("ccc");//请求结束时
									},									
									error:function(){	
										//alert("bbb");//请求失败时
										failed_getEntry();
									}				  
							});	
					}
					
			var success_getEntry = function(jdata) {
								var data = JSON.parse(jdata);
								$("#Entry").empty();
								if(jQuery.isEmptyObject(data.Summart)){  
								      var divObj = document.getElementById("Entry");
								      divObj.innerHTML = '<p> 条目为空 </p>'; 
									  return;
								}  
								var obj = data.Summart.Data;								
								var _HTML= '';
								if (obj.length>0)
								{
									_HTML= _HTML + '<div class="panel-group" id="accordion">';									
									_HTML= _HTML + '<div class="container">';									 															        
									for (var i=0;i<obj.length;i++)
									{ 										
										_HTML= _HTML + '<div class="row">';
										_HTML= _HTML +  '<div class="col-xs-11 col-sm-11" >';										
										_HTML= _HTML + [
										'<div class="panel-group" id="accordion">',
										   ' <div class="panel panel-default">',
												'<div class="panel-heading">',
										            '<h4 class="panel-title">',
										                '<a data-toggle="collapse" data-parent="#accordion" ',
														'href="#'+obj[i][0].split('.')[0]+'"  onclick="freshoneitem('+obj[i][0].split('.')[0]+');">',
										                obj[i][0],
										                '</a>',
										            '</h4>',
										        '</div>',
										        '<div id="'+obj[i][0].split('.')[0]+'" class="panel-collapse collapse">',
										            '<div class="panel-body">',
										            '</div>',
										        '</div>',
										    '</div>',
										'</div>',
										//].join('');
										].join('\n');
										
										_HTML= _HTML +'</div>';										
										 _HTML= _HTML +'<div class="col-xs-1 col-sm-1" ><button type="button" onclick="deleteoneitem('+obj[i][0].split('.')[0]+');" class="btn btn-danger">delete</button></div>  ';
										_HTML= _HTML +'</div>';										
										}								 
								
									_HTML= _HTML +'</div></div>';
									$("#Entry").append(_HTML);	
								}																
				};	
			
			var failed_getEntry = function() {
				$("#Entry").empty();
				var divObj = document.getElementById("Entry");
				divObj.innerHTML = '<p> 条目查询失败 </p>';				
				}
				
			var freshoneitem = function(e) {
				var id = e;				
				$.ajax({
								url: ipAddress+"getOneItem",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"filename":id}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {		
								jdata = JSON.stringify(data);
								var data = JSON.parse(jdata);
								var _HTML="";
								if(jQuery.isEmptyObject(data.Data)){  
								      _HTML = '<p> 选定范围内无LDW、TTC数据 </p>';									
								}  
								else
								{									
									var obj = data.Data.Situation									
									_HTML= _HTML+'<div ><table class="table table-bordered" >';									
									_HTML = _HTML+ "<thead><tr><th>测试版本</th><th>测试场景</th></tr></thead><tbody>";									
									_HTML=_HTML+"<tr><td>"+data.Data.version+"</td><td>";
									if (obj.length>0)
																{
																	
																	for (var i=0;i<obj.length;i++)
																	{ 
																	
																		
																		_HTML=_HTML+obj[i]+" ";
																	}								
																		
																}
									_HTML = _HTML + "</td></tr></tbody>";								
									_HTML= _HTML+'</div>';												
									
									_HTML= _HTML+'<div ><table class="table table-bordered" >';									
									_HTML=_HTML+"<thead><tr><th>LDW</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
									var obj = data.Data.LDW								
									for (var i=0;i<obj.length;i++)
									{ 
										switch (i) 
										{ 
										  case 0:_HTML=_HTML+"<tr><td>"+"Mobileye 左";
										  break; 
										  case 1:_HTML=_HTML+"<tr><td>"+"Jimu 左";
										  break; 
										  case 2:_HTML=_HTML+"<tr><td>"+"Mobileye 右";
										  break; 
										  case 3:_HTML=_HTML+"<tr><td>"+"Jimu 右";
										  break; 
										  case 4:_HTML=_HTML+"<tr><td>"+"Mobileye 总";
										  break; 
										  case 5:_HTML=_HTML+"<tr><td>"+"Jimu 总";
										  break; 
										}
										
										_HTML=_HTML+"</td><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+((obj[i][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									}								
									_HTML = _HTML + "</tbody>";									
									_HTML= _HTML+'</div>';
									
									_HTML= _HTML+'<div ><table class="table table-bordered" >';									
									_HTML = _HTML+ "<thead><tr><th>TTC</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
									var obj = data.Data.TTC								
									for (var i=0;i<obj.length;i++)
									{ 
										switch (i) 
										{  
										  case 0:_HTML=_HTML+"<tr><td>"+"Mobileye 总";
										  break; 
										  case 1:_HTML=_HTML+"<tr><td>"+"Jimu 总";
										  break; 
										}
										
										_HTML=_HTML+"</td><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+((obj[i][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									}								
									_HTML = _HTML + "</tbody>";									
									_HTML= _HTML+'</div>';								
									
									var obj = data.Data.LDW_specific										
									_HTML= _HTML+'<div ><table class="table table-bordered" >';									
									_HTML = _HTML+ "<thead><tr><th>时间</th><th>timestamp</th><th>Left LDW_Mobileye</th><th>Right LDW_Mobileye</th><th>Left LDW_Jimu</th><th>Right LDW_Jimu</th><th>speed</th></tr></thead><tbody>";
									if (obj.length>0)
																{
																	for (var i=0;i<obj.length;i++)
																	{ 
																	
																		
																		_HTML=_HTML+"<tr><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+obj[i][3]  + "</td><td>"+obj[i][4] +"</td><td>"+obj[i][5]+ "</td><td>"+obj[i][6]+ "</td></tr>";
																	}								
																	_HTML = _HTML + "</tbody>";	
																}
								
									_HTML= _HTML+'</div>';	
									
									var obj = data.Data.TTC_specific									
									_HTML= _HTML+'<div ><table class="table table-bordered" >';									
									_HTML = _HTML+ "<thead><tr><th>时间</th><th>timestamp</th><th>TTC_Mobileye</th><th>TTC_Jimu</th><th>speed</th></tr></thead><tbody>";
									if (obj.length>0)
																{
																	for (var i=0;i<obj.length;i++)
																	{ 
																	
																		
																		_HTML=_HTML+"<tr><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+obj[i][3]  + "</td><td>"+obj[i][4] + "</td></tr>";
																	}								
																	_HTML = _HTML + "</tbody>";	
																}																	
									_HTML= _HTML+'</div>';									
								}
								
								
								$("#"+id).empty();
								var _HTML_ = ['<div class="panel-body">',
												                _HTML,
												            '</div>',
												].join('\n');
								$("#"+id).append(_HTML_);								
								},																
								
								complete:function(){										//请求结束时
								},									
								error:function(){										//请求失败时	
								}				  
						});				
				}
				
			
			var deleteoneitem = function(e) {
				var id = e;				
				$.ajax({
								url: ipAddress+"deleteoneitem",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"filename":id+'.bin'}),
								contentType: "application/json; charset=utf-8",	
															
								success: function (data) {								
								getEntry(0,0);
								},	
																
								complete:function(){										//请求结束时
								},	
																
								error:function(){										//请求失败时
									alert("删除失败");
								}				  
						});				
				}
					
			var getEntry_missingwrong = function(startnumber,endnumber){
					$.ajax({
									url: ipAddress+"getsummarymissingwrong",
									type: "GET",
									dataType: "json",
									async: false, // 使用同步方式  
									//data:JSON.stringify({"starttime":starttime,"endtime":endtime,'Situation':jsondata}),
									contentType: "application/json; charset=utf-8", 
									success: function (data) {
										//alert("aaa");
									success_getEntry_missingwrong(JSON.stringify(data));
									},									
									complete:function(){	
										//alert("ccc");//请求结束时
									},									
									error:function(){	
										//alert("bbb");//请求失败时
										failed_getEntry_missingwrong();
									}				  
							});	
					}
					
			var success_getEntry_missingwrong = function(jdata) {
								var data = JSON.parse(jdata);
								$("#missingwrong").empty();
								if(jQuery.isEmptyObject(data.Summart)){  
								      var divObj = document.getElementById("missingwrong");
								      divObj.innerHTML = '<p> 条目为空 </p>'; 
									  return;
								}  
								var obj = data.Summart.Data;								
								var _HTML= '';
								if (obj.length>0)
								{
									_HTML= _HTML + '<div class="panel-group" id="accordion_missingwrong">';									
									_HTML= _HTML + '<div class="container">';									 															        
									for (var i=0;i<obj.length;i++)
									{ 										
										_HTML= _HTML + '<div class="row">';
										_HTML= _HTML +  '<div class="col-xs-11 col-sm-11" >';										
										_HTML= _HTML + [
										'<div class="panel-group" id="accordion_missingwrong">',
										   ' <div class="panel panel-default">',
												'<div class="panel-heading">',
										            '<h4 class="panel-title">',
										                '<a data-toggle="collapse" data-parent="#accordion_missingwrong" ',
														'href="#'+obj[i][0]+'"  onclick="freshoneitem_missingwrong('+obj[i][0]+');">',
										                obj[i][1],
										                '</a>',
										            '</h4>',
										        '</div>',
										        '<div id="'+obj[i][0]+'" class="panel-collapse collapse">',
										            '<div class="panel-body">',
										            '</div>',
										        '</div>',
										    '</div>',
										'</div>',
										].join('\n');
										
										_HTML= _HTML +'</div>';										
										 _HTML= _HTML +'<div class="col-xs-1 col-sm-1" ><button type="button" onclick="deleteoneitem_missingwrong('+obj[i][0]+');" class="btn btn-danger">delete</button></div>  ';
										_HTML= _HTML +'</div>';										
										}								 
								
									_HTML= _HTML +'</div></div>';
									$("#missingwrong").append(_HTML);	
								}	
							};	
			var failed_getEntry_missingwrong = function() {
				$("#missingwrong").empty();
				var divObj = document.getElementById("missingwrong");
				divObj.innerHTML = '<p> 条目查询失败 </p>';				
				}
							
			var freshoneitem_missingwrong = function(e) {
				var id = e;	
				$.ajax({
								url: ipAddress+"getOneItemmissingwrong",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"ID":id}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {		
								jdata = JSON.stringify(data);
								var data = JSON.parse(jdata);
								var _HTML="";
								if(jQuery.isEmptyObject(data.Data)){  
								      _HTML = '<p> 选定范围内无数据 </p>';									
								}  
								else
								{																	
									_HTML= _HTML+'<div ><table class="table table-bordered" >';									
									_HTML = _HTML+ "<thead><tr><th>时间</th><th>测试版本</th><th>测试场景</th><th>公里数</th><th>车误检</th><th>车漏检</th><th>行人误检</th><th>行人漏检</th><th>问题描述</th></tr></thead><tbody>";
									var obj = data.Data.Situation
									Situation_str='';
									if (obj.length>0)
										{
											
											for (var i=0;i<obj.length;i++)
											{ 
											
												
												Situation_str=Situation_str+obj[i]+" ";
											}								
												
										}
									var obj = data.Data;		
									_HTML=_HTML+"<tr><td>"+data.Data.Time+"</td><td>"+data.Data.version+ "</td><td>"+Situation_str+"</td><td>"+data.Data.distance+"</td><td>"+data.Data.Car_wrong  + "</td><td>"+data.Data.Car_missing +"</td><td>"+data.Data.persion_wrong  + "</td><td>"+data.Data.persion_missing+"</td><td>"+data.Data.problem+ "</td></tr></tbody>";
									_HTML= _HTML+'</div>';	
																		
								}
								
								
								$("#"+id).empty();
								var _HTML_ = ['<div class="panel-body">',
												                _HTML,
												            '</div>',
												].join('\n');
								$("#"+id).append(_HTML_);								
								},																
								
								complete:function(){										//请求结束时
								},									
								error:function(){										//请求失败时	
								}				  
						});				
				}
				
			var deleteoneitem_missingwrong = function(e) {
				var id = e;				
				$.ajax({
								url: ipAddress+"deleteoneitemmissingwrong",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"ID":id}),
								contentType: "application/json; charset=utf-8",	
															
								success: function (data) {								
								getEntry_missingwrong(0,0);
								},	
																
								complete:function(){										//请求结束时
								},	
																
								error:function(){										//请求失败时
									alert("删除失败");
								}				  
						});				
				}
					
		</script>
	</head>
	
	<body>

		<ul class="nav nav-tabs" id='headtable'>
		  <li  id="headtable1" ><a href="/reportbyversion">测试结果按版本统计</a></li>
		  <li   id="headtable2" ><a href="/reportbytime" >测试结果按时间统计</a></li>
		  <li  id="headtable3" ><a href="/uploadbin" >上传测试数据</a></li>
		  <li  class="active" id="headtable4" ><a href="/managerment">后台管理</a></li>
		</ul>
		<h1></h1>
		<h1></h1>
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">LDW&TTC</h3>
		    </div>
		    <div class="panel-body">
		        <div id="Entry"></div>	
		    </div>
		</div>
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">漏检&误检</h3>
		    </div>
		    <div class="panel-body">
		        <div id="missingwrong"></div>	
		    </div>
		</div>
		
		
		
	</body>	
</html>
