<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
		<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<script src="/static/js/bootstrap-select.min.js"></script>
		<script src="/static/js/i18n/defaults-zh_CN.min.js"></script>
		<script src="/static/js/configure.js"></script>
		<script>
			var ipAddress = configure["address"];
			
			$(document).ready(function () {
				//$('#selectpicker1').selectpicker('selectAll');
				//getSummary_bin(0,100000000000000000);
				//alert(1);
			});
			

			
			function toPercent() {
			      Number.prototype.toPercent = function(){
			          return (Math.round(this * 10000)/100).toFixed(2) + '%';
			      }
			    }
			var failedfn = function() {
				$("#LDW").empty();
				$("#LDWPicture").empty();
				$("#TTC").empty();
				$("#TTCPicture").empty();
				var divObj = document.getElementById("LDWPicture");
				divObj.innerHTML = '<p> LDW、TTC数据查询失败 </p>';
				
				}	
							
			var failedfn_missingwrong = function() {
				$("#MissingWrong").empty();
				var divObj = document.getElementById("MissingWrong");
				divObj.innerHTML = '<p> 误检漏检数据查询失败 </p>';
				}	
								
			var successfn_missingwrong = function(jdata) {
								var data = JSON.parse(jdata)								
								$("#MissingWrong").empty();
								var _HTML="<thead><tr><th>公里数</th><th>车辆错报</th><th>车辆漏报</th><th>行人错报</th><th>行人漏报</th></tr></thead><tbody>";
								_HTML=_HTML+"<tr><td>"+data.Data.distance+"</td><td>"+data.Data.Car_wrong+"</td><td>"+data.Data.Car_missing+"</td><td>"+data.Data.persion_wrong+"</td><td>"+data.Data.persion_missing+"</td></tr>"+ "</tbody>";
								$("#MissingWrong").append(_HTML);		
								};				
							
			
			var successfn = function(jdata) {				
								var data = JSON.parse(jdata);
								//alert(data);
								$("#LDW").empty();
								$("#LDWPicture").empty();
								$("#TTC").empty();
								$("#TTCPicture").empty();
								
								if(jQuery.isEmptyObject(data.Data)){  
								      var divObj = document.getElementById("LDWPicture");
								      divObj.innerHTML = '<p> 选定范围内无LDW、TTC数据 </p>';  
									  return;
									  //alert("NNN")
								}  
								
								var _HTML="<thead><tr><th>LDW</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
								var obj = data.Data.LDW								
								for (var i=0;i<obj.length;i++)
								{ 
									switch (i) 
									{ 
									  case 0:_HTML=_HTML+"<tr><td>"+"Mobileye 左";
									  break; 
									  case 1:_HTML=_HTML+"<tr><td>"+"Jimu 左";
									  break; 
									  case 2:_HTML=_HTML+"<tr><td>"+"Mobileye 右";
									  break; 
									  case 3:_HTML=_HTML+"<tr><td>"+"Jimu 右";
									  break; 
									  case 4:_HTML=_HTML+"<tr><td>"+"Mobileye 总";
									  break; 
									  case 5:_HTML=_HTML+"<tr><td>"+"Jimu 总";
									  break; 
									}
									
									_HTML=_HTML+"</td><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+((obj[i][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
								}								
								_HTML = _HTML + "</tbody>";
								$("#LDW").append(_HTML);
								
								
								var obj = data.Data.LDW_bar;
								var divObj = document.getElementById("LDWPicture");
								divObj.innerHTML = '<img src=\"'+'data:image/png;base64,'+obj+'\" />'
								
								
								var _HTML="<thead><tr><th>TTC</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
								var obj = data.Data.TTC								
								for (var i=0;i<obj.length;i++)
								{ 
									switch (i) 
									{  
									  case 0:_HTML=_HTML+"<tr><td>"+"Mobileye 总";
									  break; 
									  case 1:_HTML=_HTML+"<tr><td>"+"Jimu 总";
									  break; 
									}
									
									_HTML=_HTML+"</td><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+((obj[i][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
								}								
								_HTML = _HTML + "</tbody>";
								$("#TTC").append(_HTML);								
								
								
								var obj = data.Data.TTC_bar;
								var divObj = document.getElementById("TTCPicture");
								divObj.innerHTML = '<img src=\"'+'data:image/png;base64,'+obj+'\" />';
								};
								
			var getSummary_bin = function(starttime,endtime){
					var jsondata = $('#selectpicker1').selectpicker('val');
					if (!$('#selectpicker1').selectpicker('val'))
					{
						//$('#selectpicker1').selectpicker('selectAll');
						jsondata =[];
					}
				
					$.ajax({
									url: ipAddress+"getDataByTime",
									type: "POST",
									dataType: "json",
									async: false, // 使用同步方式  
									data:JSON.stringify({"starttime":starttime,"endtime":endtime,'Situation':jsondata}),
									contentType: "application/json; charset=utf-8", 
									success: function (data) {
										//alert("aaa");
									successfn(JSON.stringify(data));
									},									
									complete:function(){	
										//alert("ccc");//请求结束时
									},									
									error:function(){	
										//alert("bbb");//请求失败时
										failedfn();
									}				  
							});	
																
					$.ajax({
									url: ipAddress+"getDataByTimemissingwrong",
									type: "POST",
									dataType: "json",
									async: false, // 使用同步方式  
									data:JSON.stringify({"starttime":starttime,"endtime":endtime,'Situation':jsondata}),
									contentType: "application/json; charset=utf-8", 
									success: function (data) {
									successfn_missingwrong(JSON.stringify(data));
									},									
									complete:function(){										//请求结束时
									},									
									error:function(){										//请求失败时
										failedfn_missingwrong();
									}				  
							});	
					}
			
			//$(document).ready(function() {
			 //   getSummary_bin(0,100000000000000000); 
			    //这个是jquery代码 
			//});
			
			$(function(){

					$("#testAjax").click(function(){
						if (!$('#selectpicker1').selectpicker('val'))
						{
							$('#selectpicker1').selectpicker('selectAll');
						}
						var jsondata = $('#selectpicker1').selectpicker('val');
						getSummary_LDWTTC(jsondata);
						getSummary_missingwrong(jsondata);
					});	
				}); 
			
			var getSummary_LDWTTC = function(Situation){
				
				$.ajax({
								url: ipAddress+"getversion",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"Type":'LDW'}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {
									var data = JSON.parse(JSON.stringify(data));
									getSummary_LDWTTC_success(data,Situation);
									//version = data.version.Data;
									//alert(version);
								//success_getEntry(JSON.stringify(data));
								},									
								complete:function(){	
									//alert("ccc");//请求结束时
								},									
								error:function(){	
									alert("查询失败");//请求失败时
									//failed_getEntry();
								}				  
						});	
				
				}
				
			var getSummary_LDWTTC_success = function(data,Situation){	
					$("#LDW").empty();
					$("#TTC").empty();
					var _HTML="";
					var _HTML_TTC="";
					if(jQuery.isEmptyObject(data.version)){
						  _HTML = _HTML+'<p> 无版本信息 </p>';
						_HTML_TTC = _HTML_TTC+'<p> 无版本信息 </p>';
					}  
					else
					{									
						
						_HTML= _HTML+'<div ><table class="table table-bordered" >';	
						_HTML = _HTML+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						
						_HTML_TTC= _HTML_TTC+'<div ><table class="table table-bordered" >';
						_HTML_TTC = _HTML_TTC+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						var version = data.version.Data;
						var versiondata = 1;
						for (var i=0;i<version.length;i++)
						{			
							
							
							versiondata = getdatabyversion(version[i],Situation);
							if(jQuery.isEmptyObject(versiondata.Data)){
								
							} 
							else
							{
									_HTML=_HTML+"<tr><td>"+version[i]+"</td><td>"+versiondata.Data.LDW[5][0]+"</td><td>"+versiondata.Data.LDW[5][1]+"</td><td>"+versiondata.Data.LDW[5][2]+"</td><td>"+((versiondata.Data.LDW[5][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata.Data.LDW[5][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata.Data.LDW[5][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									_HTML_TTC=_HTML_TTC+"<tr><td>"+version[i]+"</td><td>"+versiondata.Data.TTC[1][0]+"</td><td>"+versiondata.Data.TTC[1][1]+"</td><td>"+versiondata.Data.TTC[1][2]+"</td><td>"+((versiondata.Data.TTC[1][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata.Data.TTC[1][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata.Data.TTC[1][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									
							}
						}
						_HTML= _HTML+'</tbody>';
						_HTML= _HTML+'</div>';	
											
						_HTML_TTC= _HTML_TTC+'</tbody>';
						_HTML_TTC= _HTML_TTC+'</div>';	
					}
					$("#LDW").append(_HTML);
					$("#TTC").append(_HTML_TTC);
					
				}
			
			var getdatabyversion = function(version,Situation){
				var res = 1;
				$.ajax({
								url: ipAddress+"getdatabyversion",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"version":version,"Situation":Situation}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {
									res = JSON.parse(JSON.stringify(data));
									//getSummary_LDWTTC_success(data);
									//version = data.version.Data;
									//alert(version);
								//success_getEntry(JSON.stringify(data));
								},									
								complete:function(){	
									//alert("ccc");//请求结束时
								},									
								error:function(){	
									alert("查询失败"+version);//请求失败时
									//failed_getEntry();
								}				  
						});	
				return res;
			}
			
			var getSummary_missingwrong = function(jsondata){
				
				}

		</script>
	</head>
	
	<body >

		<ul class="nav nav-tabs" id='headtable'>
		  <li  class="active" id="headtable1" ><a href="#">测试结果</a></li>
		  <li  id="headtable2" ><a href="/uploadbin" >上传测试数据</a></li>
		</ul>
		<h1></h1>
		<h1></h1>
		
		<div class="panel panel-info">
		    <div class="panel-heading">
		        <h3 class="panel-title">选择场景进行统计</h3>
		    </div>
		    <div class="panel-body">
		        <div id='sitiationselect'>
		        <select class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true" title="场景选择" id="selectpicker1">
		        <optgroup label="光照">
		                <option value="光照-白天">白天</option>
		                <option value="光照-傍晚">傍晚</option>
		                <option value="光照-黑夜">黑夜</option>
		         </optgroup>   
		          <optgroup label="天气">
		                  <option value="天气-晴">晴</option>
		                  <option value="天气-雨">雨</option>
		                  <option value="天气-雪">雪</option>
		        		  <option value="天气-阴">阴</option>
		        		  <option value="天气-沙尘暴">沙尘暴</option>
		        		  <option value="天气-雾">雾</option>
		           </optgroup>  
		           <optgroup label="路况">
		                   <option value="路况-市内">市内</option>
		                   <option value="路况-高速">高速</option>
		                   <option value="路况-国道">国道</option>
		        		   <option value="路况-县道">县道</option>
		             </optgroup>                          
		        </select>
		        </div>
				<h1></h1>
		        <button id="testAjax" type="button">查询</button>
		    </div>
		</div>
		

		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">车辆行人误检、漏检统计</h3>
		    </div>
		    <div class="panel-body">
		        <div > <table class="table table-bordered" id="MissingWrong"></table></div>
		    </div>
		</div>
		
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">LDW误检、漏检统计（与Mobieye对比）</h3>
		    </div>
		    <div class="panel-body">
		        <div id="LDW"></div>
		        <div id="LDWPicture"></div>
		    </div>
		</div>
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">TTC误检、漏检统计（与Mobieye对比）</h3>
		    </div>
		    <div class="panel-body">
		        <div id="TTC"></div>
		        <div id="TTCPicture"></div>	
		    </div>
		</div>	

	</body>	
</html>
