<!DOCTYPE HTML>
<html>
	<head>
		<title>测试报告平台</title>
		<link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="/static/css//bootstrap.min.css">  
		<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>	
		<script src="/static/js/bootstrap-select.min.js"></script>
		<script src="/static/js/i18n/defaults-zh_CN.min.js"></script>
		<script src="/static/js/configure.js"></script>
		<script>
			var ipAddress = configure["address"];
			
			$(document).ready(function () {
				
				getSummary_bin(140,0,100000000000000000);
			});
			
			
			function toPercent() {
			      Number.prototype.toPercent = function(){
			          return (Math.round(this * 10000)/100).toFixed(2) + '%';
			      }
			    }
			var failedfn = function() {
				$("#LDW").empty();
				$("#LDWPicture").empty();
				$("#TTC").empty();
				$("#TTCPicture").empty();
				var divObj = document.getElementById("LDWPicture");
				divObj.innerHTML = '<p> LDW、TTC数据查询失败 </p>';
				
				}	
							
			var failedfn_missingwrong = function() {
				$("#MissingWrong").empty();
				var divObj = document.getElementById("MissingWrong");
				divObj.innerHTML = '<p> 误检漏检数据查询失败 </p>';
				}	
								
			var successfn_missingwrong = function(jdata) {
								var data = JSON.parse(jdata)								
								$("#MissingWrong").empty();
								var _HTML="<thead><tr><th>公里数</th><th>车辆错报</th><th>车辆漏报</th><th>行人错报</th><th>行人漏报</th></tr></thead><tbody>";
								_HTML=_HTML+"<tr><td>"+data.Data.distance+"</td><td>"+data.Data.Car_wrong+"</td><td>"+data.Data.Car_missing+"</td><td>"+data.Data.persion_wrong+"</td><td>"+data.Data.persion_missing+"</td></tr>"+ "</tbody>";
								$("#MissingWrong").append(_HTML);		
								};				
							
			
			var successfn = function(jdata) {				
								var data = JSON.parse(jdata);
								//alert(data);
								$("#LDW").empty();
								$("#LDWPicture").empty();
								$("#TTC").empty();
								$("#TTCPicture").empty();
								
								if(jQuery.isEmptyObject(data.Data)){  
								      var divObj = document.getElementById("LDWPicture");
								      divObj.innerHTML = '<p> 选定范围内无LDW、TTC数据 </p>';  
									  return;
									  //alert("NNN")
								}  
								
								var _HTML="<thead><tr><th>LDW</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
								var obj = data.Data.LDW								
								for (var i=0;i<obj.length;i++)
								{ 
									switch (i) 
									{ 
									  case 0:_HTML=_HTML+"<tr><td>"+"Mobileye 左";
									  break; 
									  case 1:_HTML=_HTML+"<tr><td>"+"Jimu 左";
									  break; 
									  case 2:_HTML=_HTML+"<tr><td>"+"Mobileye 右";
									  break; 
									  case 3:_HTML=_HTML+"<tr><td>"+"Jimu 右";
									  break; 
									  case 4:_HTML=_HTML+"<tr><td>"+"Mobileye 总";
									  break; 
									  case 5:_HTML=_HTML+"<tr><td>"+"Jimu 总";
									  break; 
									}
									
									_HTML=_HTML+"</td><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+((obj[i][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
								}								
								_HTML = _HTML + "</tbody>";
								$("#LDW").append(_HTML);
								
								
								var obj = data.Data.LDW_bar;
								var divObj = document.getElementById("LDWPicture");
								divObj.innerHTML = '<img src=\"'+'data:image/png;base64,'+obj+'\" />'
								
								
								var _HTML="<thead><tr><th>TTC</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
								var obj = data.Data.TTC								
								for (var i=0;i<obj.length;i++)
								{ 
									switch (i) 
									{  
									  case 0:_HTML=_HTML+"<tr><td>"+"Mobileye 总";
									  break; 
									  case 1:_HTML=_HTML+"<tr><td>"+"Jimu 总";
									  break; 
									}
									
									_HTML=_HTML+"</td><td>"+obj[i][0]+"</td><td>"+obj[i][1]+"</td><td>"+obj[i][2]+"</td><td>"+((obj[i][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((obj[i][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
								}								
								_HTML = _HTML + "</tbody>";
								$("#TTC").append(_HTML);								
								
								
								var obj = data.Data.TTC_bar;
								var divObj = document.getElementById("TTCPicture");
								divObj.innerHTML = '<img src=\"'+'data:image/png;base64,'+obj+'\" />';
								};
								
			var getSummary_bin = function(Situation_picked,starttime,endtime){
				
					$.ajax({
									url: ipAddress+"getDataByTime",
									type: "POST",
									dataType: "json",
									async: false, // 使用同步方式  
									data:JSON.stringify({"starttime":starttime,"endtime":endtime,'Situation':Situation_picked}),
									contentType: "application/json; charset=utf-8", 
									success: function (data) {
										//alert("aaa");
									successfn(JSON.stringify(data));
									},									
									complete:function(){	
										//alert("ccc");//请求结束时
									},									
									error:function(){	
										//alert("bbb");//请求失败时
										failedfn();
									}				  
							});	
																
					$.ajax({
									url: ipAddress+"getDataByTimemissingwrong",
									type: "POST",
									dataType: "json",
									async: false, // 使用同步方式  
									data:JSON.stringify({"starttime":starttime,"endtime":endtime,'Situation':Situation_picked}),
									contentType: "application/json; charset=utf-8", 
									success: function (data) {
									successfn_missingwrong(JSON.stringify(data));
									},									
									complete:function(){										//请求结束时
									},									
									error:function(){										//请求失败时
										failedfn_missingwrong();
									}				  
							});	
					}
			
			//$(document).ready(function() {
			 //   getSummary_bin(0,100000000000000000); 
			    //这个是jquery代码 
			//});
			
			$(function(){

					$("#testAjax").click(function(){
						if ($('#selectpicker1').selectpicker('val')=='')
						{
							$('#selectpicker1').selectpicker('selectAll');
						}
						//$('#selectpicker1').selectpicker('selectAll');
						var Situation_picked = $('#selectpicker1').selectpicker('val');
						var options=$("#dataselect option:selected");
						strs=options.text().split(/[.~]/); //字符分割
						getSummary_bin(Situation_picked,Date.UTC(Number(strs[0]),Number(strs[1])-1,Number(strs[2]),0,0,0),Date.UTC(Number(strs[3]),Number(strs[4])-1,Number(strs[5]),0,0,0));
					});	
				}); 
			

		</script>
	</head>
	
	<body>

		<ul class="nav nav-tabs" id='headtable'>
		  <li  id="headtable1" ><a href="/reportbyversion">测试结果按版本统计</a></li>
		  <li  class="active" id="headtable2" ><a href="/reportbytime" >测试结果按时间统计</a></li>
		  <li  id="headtable3" ><a href="/uploadbin" >上传测试数据</a></li>
		  <li  id="headtable4" ><a href="/managerment">后台管理</a></li>
		</ul>
		<h1></h1>
		<h1></h1>
		
		<div class="panel panel-info">
		    <div class="panel-heading">
		        <h3 class="panel-title">选择场景、时间范围，查询测试统计结果</h3>
		    </div>
		    <div class="panel-body">
		        <div id='sitiationselect'>
		        <select class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true" title="场景选择" id="selectpicker1">
		        <optgroup label="光照">
		                <option value="光照-白天">白天</option>
		                <option value="光照-傍晚">傍晚</option>
		                <option value="光照-黑夜">黑夜</option>
		         </optgroup>   
		          <optgroup label="天气">
		                  <option value="天气-晴">晴</option>
		                  <option value="天气-雨">雨</option>
		                  <option value="天气-雪">雪</option>
		        		  <option value="天气-阴">阴</option>
		        		  <option value="天气-沙尘暴">沙尘暴</option>
		        		  <option value="天气-雾">雾</option>
		           </optgroup>  
		           <optgroup label="路况">
		                   <option value="路况-市内">市内</option>
		                   <option value="路况-高速">高速</option>
		                   <option value="路况-国道">国道</option>
		        		   <option value="路况-县道">县道</option>
		             </optgroup>                          
		        </select>
		        </div>
		        
		        
		        <div id='wrapper'>
		        	  <form>
		        	    <select id="dataselect" class='custom-date' name='dataselect'>
		        	      <option value='7'>7 Days</option>
		        	      <option value='30'>30 Days</option>
		        	      <option selected='selected' value='90'>90 Days</option>
		        	      <option value='180'>180 Days</option>
		        	      <option value='365'>365 Days</option>
		        	      <option value='custom'>Custom</option>
		        	    </select>
		        	  </form>
		        	</div>
		        <script src="/static/js/index.js"></script>
		        
		        <button id="testAjax" type="button">查询</button>
		    </div>
		</div>
		
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">车辆行人误检、漏检统计</h3>
		    </div>
		    <div class="panel-body">
		        <div > <table class="table table-bordered" id="MissingWrong"></table></div>
		    </div>
		</div>
		
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">LDW误检、漏检统计（与Mobieye对比）</h3>
		    </div>
		    <div class="panel-body">
		        <div ><table class="table table-bordered" id="LDW"></table></div>
		        <div id="LDWPicture"></div>
		    </div>
		</div>
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">TTC误检、漏检统计（与Mobieye对比）</h3>
		    </div>
		    <div class="panel-body">
		        <div ><table class="table table-bordered" id="TTC"></table></div>
		        <div id="TTCPicture"></div>	
		    </div>
		</div>

		
	</body>	
</html>
