<!DOCTYPE HTML>
<html>
	<head>
		<title>测试报告平台</title>
		<link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="/static/css//bootstrap.min.css">  
		<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>	
		<script src="/static/js/bootstrap-select.min.js"></script>
		<script src="/static/js/i18n/defaults-zh_CN.min.js"></script>
		<script src="/static/js/configure.js"></script>
		<script src="/static/js/highcharts.js"></script>
		<script src="/static/js/modules/series-label.js"></script>
		<script src="/static/js/modules/exporting.js"></script>
		<script src="/static/js/modules/export-data.js"></script>
		<script>
			var ipAddress = configure["address"];
			
			$(document).ready(function () {
				//$('#selectpicker1').selectpicker('selectAll');
				//getSummary_bin(0,100000000000000000);
				//alert(1);
				var situationoption = situationselectpicker['situation'];
				$("#selectpicker1").empty();
				$("#selectpicker1").append(situationoption);
				getSummary_LDWTTC(140);
				getSummary_missingwrong(140);
			});
						
			
			$(function(){

					$("#testAjax").click(function(){
						//alert($('#selectpicker1').selectpicker('val'))
						if ($('#selectpicker1').selectpicker('val')=='')
						{
							$('#selectpicker1').selectpicker('selectAll');
						}
						//$('#selectpicker1').selectpicker('selectAll');
						var jsondata = $('#selectpicker1').selectpicker('val');
						getSummary_LDWTTC(jsondata);
						getSummary_missingwrong(jsondata);
					});	
				}); 
			
			var getSummary_LDWTTC = function(Situation){
				
				$.ajax({
								url: ipAddress+"getdatabyversionAll",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"Situation":Situation}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {
									var data = JSON.parse(JSON.stringify(data));
									getSummary_LDWTTC_success(data);
								},									
								complete:function(){	
									//alert("ccc");//请求结束时
								},									
								error:function(){	
									$("#LDW").empty();
									var _HTML="";
									 _HTML = _HTML+'<p> 查询失败 </p>';
									 $("#LDW").append(_HTML);
									//alert("查询失败");//请求失败时
									//failed_getEntry();
								}				  
						});	
						
				$.ajax({
								url: ipAddress+"getdatabyversionAll_TTC_manual",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"Situation":Situation}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {
									var data = JSON.parse(JSON.stringify(data));
									getSummary_LDWTTC_success_TTC_manual(data);
								},									
								complete:function(){	
									//alert("ccc");//请求结束时
								},									
								error:function(){	
									$("#TTC_manual").empty();
									var _HTML="";
									 _HTML = _HTML+'<p> 查询失败 </p>';
									 $("#TTC_manual").append(_HTML);
									//alert("查询失败");//请求失败时
									//failed_getEntry();
								}				  
						});	
				
				}
				
			var getSummary_LDWTTC_success = function(data){	
					$("#LDW").empty();
					$("#TTC").empty();
					var _HTML="";
					var _HTML_TTC="";
					var xAxis_value=[];
					var LDW_right_value=[];
					var LDW_missing_value=[];
					var LDW_wrong_value=[];
					var TTC_right_value=[];
					var TTC_missing_value=[];
					var TTC_wrong_value=[];
					
					
					if(jQuery.isEmptyObject(data.Data)){
						  _HTML = _HTML+'<p> 无版本数据 </p>';
						_HTML_TTC = _HTML_TTC+'<p> 无版本数据 </p>';
					}  
					else
					{									
						
						_HTML= _HTML+'<div ><table class="table table-bordered" >';	
						_HTML = _HTML+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						
						_HTML_TTC= _HTML_TTC+'<div ><table class="table table-bordered" >';
						_HTML_TTC = _HTML_TTC+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						
						var versiondata = 1;
						
						for (var i=0;i<data.Data.data.length;i++)
						{			
							
							
							versiondata = data.Data.data[i];
							if(jQuery.isEmptyObject(versiondata)){
								
							} 
							else
							{
									_HTML=_HTML+"<tr><td>"+versiondata[0]+"</td><td>"+versiondata[1][5][0]+"</td><td>"+versiondata[1][5][1]+"</td><td>"+versiondata[1][5][2]+"</td><td>"+((versiondata[1][5][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[1][5][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[1][5][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									_HTML_TTC=_HTML_TTC+"<tr><td>"+versiondata[0]+"</td><td>"+versiondata[2][1][0]+"</td><td>"+versiondata[2][1][1]+"</td><td>"+versiondata[2][1][2]+"</td><td>"+((versiondata[2][1][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[2][1][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[2][1][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									xAxis_value.push(versiondata[0]);
									//var LDW_right_value=[];
									//var LDW_missing_value=[];
									//var LDW_wrong_value=[];
									//var TTC_right_value=[];
									//var TTC_missing_value=[];
									//var TTC_wrong_value=[];
									// LDW_right_value.push(((versiondata.Data.LDW[5][3] * 10000)/100).toFixed(2));
									// LDW_missing_value.push(((versiondata.Data.LDW[5][4] * 10000)/100).toFixed(2));
									// LDW_wrong_value.push(((versiondata.Data.LDW[5][5] * 10000)/100).toFixed(2));
									// TTC_right_value.push(((versiondata.Data.TTC[1][3] * 10000)/100).toFixed(2));
									// TTC_missing_value.push(((versiondata.Data.TTC[1][4] * 10000)/100).toFixed(2));
									// TTC_wrong_value.push(((versiondata.Data.TTC[1][5] * 10000)/100).toFixed(2));
									LDW_right_value.push(((versiondata[1][5][3] * 10000)/100));
									LDW_missing_value.push(((versiondata[1][5][4] * 10000)/100));
									LDW_wrong_value.push(((versiondata[1][5][5] * 10000)/100));
									TTC_right_value.push(((versiondata[2][1][3] * 10000)/100));
									TTC_missing_value.push(((versiondata[2][1][4] * 10000)/100));
									TTC_wrong_value.push(((versiondata[2][1][5] * 10000)/100));
									
							}
						}
						_HTML= _HTML+'</tbody>';
						_HTML= _HTML+'</div>';	
											
						_HTML_TTC= _HTML_TTC+'</tbody>';
						_HTML_TTC= _HTML_TTC+'</div>';	
					}
					
					if (xAxis_value.length>0)
					{
						
					//alert(LDW_right_value);
					Highcharts.chart('highcharts_trendbyversion_LDW', {
					
					    title: {
					        text: 'LDW误报、漏报统计（与Mobieye对比）'
					    },
						
						xAxis: {
							 title:{
							       text:'版本号'
							   },
						    categories: xAxis_value
						},
					
					    yAxis: {
					        title: {
					            text: '误、漏报率（%）'
					        }
					    },
					    legend: {
					        layout: 'vertical',
					        align: 'right',
					        verticalAlign: 'middle'
					    },
					
						//var Car_wrong_value=[];
						//var Car_missing_value=[];
						//var persion_wrong_value=[];
						//var persion_missing_value=[];
						//var LDW_right_value=[];
						//var LDW_missing_value=[];
						//var LDW_wrong_value=[];
						//var TTC_right_value=[];
						//var TTC_missing_value=[];
						//var TTC_wrong_value=[];
						
					    series: [{
					        name: 'LDW正报率',
					        data: LDW_right_value
					    }, {
					        name: 'LDW漏报率',
					        data: LDW_missing_value
					    }, {
					        name: 'LDW误报率',
					        data: LDW_wrong_value
					    }],
					
					    responsive: {
					        rules: [{
					            condition: {
					                maxWidth: 500
					            },
					            chartOptions: {
					                legend: {
					                    layout: 'horizontal',
					                    align: 'center',
					                    verticalAlign: 'bottom'
					                }
					            }
					        }]
					    }
					
					});
					
					Highcharts.chart('highcharts_trendbyversion_TTC', {
					
					    title: {
					        text: 'TTC误报、漏报统计（与Mobieye对比）'
					    },
						
						xAxis: {
							 title:{
							       text:'版本号'
							   },
						    categories: xAxis_value
						},
					
					    yAxis: {
					        title: {
					            text: '误、漏报率（%）'
					        }
					    },
					    legend: {
					        layout: 'vertical',
					        align: 'right',
					        verticalAlign: 'middle'
					    },
					
						//var Car_wrong_value=[];
						//var Car_missing_value=[];
						//var persion_wrong_value=[];
						//var persion_missing_value=[];
						//var LDW_right_value=[];
						//var LDW_missing_value=[];
						//var LDW_wrong_value=[];
						//var TTC_right_value=[];
						//var TTC_missing_value=[];
						//var TTC_wrong_value=[];
						
					    series: [{
					        name: 'TTC正报率',
					        data: TTC_right_value,
							//data: [1,2,3,4]
					    }, {
					        name: 'TTC漏报率',
					        data: TTC_missing_value,
							//data: [1,2,3,4]
					    }, {
					        name: 'TTC误报率',
					        data: TTC_wrong_value,
							//data: [1,2,3,4]
					    }],
					
					    responsive: {
					        rules: [{
					            condition: {
					                maxWidth: 500
					            },
					            chartOptions: {
					                legend: {
					                    layout: 'horizontal',
					                    align: 'center',
					                    verticalAlign: 'bottom'
					                }
					            }
					        }]
					    }
					
					});
					
					}
					$("#LDW").append(_HTML);
					$("#TTC").append(_HTML_TTC);
					
				}
			
			
			
			var getSummary_LDWTTC_success_TTC_manual = function(data){
					//$("#LDW").empty();
					$("#TTC_manual").empty();
					var _HTML="";
					var _HTML_TTC="";
					var xAxis_value=[];
					var LDW_right_value=[];
					var LDW_missing_value=[];
					var LDW_wrong_value=[];
					var TTC_right_value=[];
					var TTC_missing_value=[];
					var TTC_wrong_value=[];
					
					
					if(jQuery.isEmptyObject(data.Data)){
						  _HTML = _HTML+'<p> 无版本数据 </p>';
						_HTML_TTC = _HTML_TTC+'<p> 无版本数据 </p>';
					}  
					else
					{									
						
						_HTML= _HTML+'<div ><table class="table table-bordered" >';	
						_HTML = _HTML+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						
						_HTML_TTC= _HTML_TTC+'<div ><table class="table table-bordered" >';
						_HTML_TTC = _HTML_TTC+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						
						var versiondata = 1;
						
						for (var i=0;i<data.Data.data.length;i++)
						{			
							
							
							versiondata = data.Data.data[i];
							if(jQuery.isEmptyObject(versiondata)){
								
							} 
							else
							{
									_HTML=_HTML+"<tr><td>"+versiondata[0]+"</td><td>"+versiondata[1][5][0]+"</td><td>"+versiondata[1][5][1]+"</td><td>"+versiondata[1][5][2]+"</td><td>"+((versiondata[1][5][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[1][5][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[1][5][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									_HTML_TTC=_HTML_TTC+"<tr><td>"+versiondata[0]+"</td><td>"+versiondata[2][1][0]+"</td><td>"+versiondata[2][1][1]+"</td><td>"+versiondata[2][1][2]+"</td><td>"+((versiondata[2][1][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[2][1][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata[2][1][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									xAxis_value.push(versiondata[0]);
									//var LDW_right_value=[];
									//var LDW_missing_value=[];
									//var LDW_wrong_value=[];
									//var TTC_right_value=[];
									//var TTC_missing_value=[];
									//var TTC_wrong_value=[];
									// LDW_right_value.push(((versiondata.Data.LDW[5][3] * 10000)/100).toFixed(2));
									// LDW_missing_value.push(((versiondata.Data.LDW[5][4] * 10000)/100).toFixed(2));
									// LDW_wrong_value.push(((versiondata.Data.LDW[5][5] * 10000)/100).toFixed(2));
									// TTC_right_value.push(((versiondata.Data.TTC[1][3] * 10000)/100).toFixed(2));
									// TTC_missing_value.push(((versiondata.Data.TTC[1][4] * 10000)/100).toFixed(2));
									// TTC_wrong_value.push(((versiondata.Data.TTC[1][5] * 10000)/100).toFixed(2));
									LDW_right_value.push(((versiondata[1][5][3] * 10000)/100));
									LDW_missing_value.push(((versiondata[1][5][4] * 10000)/100));
									LDW_wrong_value.push(((versiondata[1][5][5] * 10000)/100));
									TTC_right_value.push(((versiondata[2][1][3] * 10000)/100));
									TTC_missing_value.push(((versiondata[2][1][4] * 10000)/100));
									TTC_wrong_value.push(((versiondata[2][1][5] * 10000)/100));
									
							}
						}
						_HTML= _HTML+'</tbody>';
						_HTML= _HTML+'</div>';	
											
						_HTML_TTC= _HTML_TTC+'</tbody>';
						_HTML_TTC= _HTML_TTC+'</div>';	
					}
					
					if (xAxis_value.length>0)
					{
						
								
					Highcharts.chart('highcharts_trendbyversion_TTC_manual', {
					
					    title: {
					        text: 'TTC误报、漏报统计（与手工标注的正确结果进行对比）'
					    },
						
						xAxis: {
							 title:{
							       text:'版本号'
							   },
						    categories: xAxis_value
						},
					
					    yAxis: {
					        title: {
					            text: '误、漏报率（%）'
					        }
					    },
					    legend: {
					        layout: 'vertical',
					        align: 'right',
					        verticalAlign: 'middle'
					    },
					
						//var Car_wrong_value=[];
						//var Car_missing_value=[];
						//var persion_wrong_value=[];
						//var persion_missing_value=[];
						//var LDW_right_value=[];
						//var LDW_missing_value=[];
						//var LDW_wrong_value=[];
						//var TTC_right_value=[];
						//var TTC_missing_value=[];
						//var TTC_wrong_value=[];
						
					    series: [{
					        name: 'TTC正报率',
					        data: TTC_right_value,
							//data: [1,2,3,4]
					    }, {
					        name: 'TTC漏报率',
					        data: TTC_missing_value,
							//data: [1,2,3,4]
					    }, {
					        name: 'TTC误报率',
					        data: TTC_wrong_value,
							//data: [1,2,3,4]
					    }],
					
					    responsive: {
					        rules: [{
					            condition: {
					                maxWidth: 500
					            },
					            chartOptions: {
					                legend: {
					                    layout: 'horizontal',
					                    align: 'center',
					                    verticalAlign: 'bottom'
					                }
					            }
					        }]
					    }
					
					});
					
					}
					//$("#LDW").append(_HTML);
					$("#TTC_manual").append(_HTML_TTC);
					
				}
			
			
			
			var getSummary_missingwrong = function(Situation){
				$.ajax({
								url: ipAddress+"getdatabyversionmissingwrongAll",
								type: "POST",
								dataType: "json",
								async: false, // 使用同步方式  
								data:JSON.stringify({"Situation":Situation}),
								contentType: "application/json; charset=utf-8", 
								success: function (data) {
									var data = JSON.parse(JSON.stringify(data));
									getSummary_missingwrong_success(data);
									//version = data.version.Data;
									//alert("getSummary_missingwrong success");
								//success_getEntry(JSON.stringify(data));
								},									
								complete:function(){	
									//alert("ccc");//请求结束时
								},									
								error:function(){	
									$("#MissingWrong").empty();
									var _HTML="";
									 _HTML = _HTML+'<p> 查询失败 </p>';
									 $("#MissingWrong").append(_HTML);
									//alert("查询失败");//请求失败时
									//failed_getEntry();
									//alert("getSummary_missingwrong error");
								}				  
						});	
				}
				
			var getSummary_missingwrong_success = function(data){
					$("#MissingWrong").empty();
					//$("#TTC").empty();
					var _HTML="";
					//var _HTML_TTC="";
					var xAxis_value=[];
					var Car_wrong_value=[];
					var Car_missing_value=[];
					var persion_wrong_value=[];
					var persion_missing_value=[];
					if(jQuery.isEmptyObject(data.Data)){
						  _HTML = _HTML+'<p> 无版本数据 </p>';
						//_HTML_TTC = _HTML_TTC+'<p> 无版本信息 </p>';
					}  
					else
					{									
						
						_HTML= _HTML+'<div ><table class="table table-bordered" >';	
						_HTML = _HTML+ "<thead><tr><th>版本</th><th>公里总数</th><th>车辆误检总数 / 平均每百公里误检数</th><th>车辆漏检总数 / 平均每百公里漏检数</th><th>行人误检总数 / 平均每百公里误检数</th><th>行人漏检总数 / 平均每百公里漏检数</th></tr></thead><tbody>";
						
						//_HTML_TTC= _HTML_TTC+'<div ><table class="table table-bordered" >';
						//_HTML_TTC = _HTML_TTC+ "<thead><tr><th>版本</th><th>正报</th><th>漏报</th><th>误报</th><th>正报率</th><th>漏报率</th><th>误报率</th></tr></thead><tbody>";
						
						var versiondata = 1;
						
						for (var i=0;i<data.Data.data.length;i++)
						{			
							
							
							versiondata = data.Data.data[i];
							if(jQuery.isEmptyObject(versiondata)){
								
							} 
							else
							{
									//_HTML=_HTML+"<tr><td>"+versiondata[0][0]+"
												
									_HTML=_HTML+"<tr><td>"+versiondata[0]+"</td><td>"+versiondata[1]+"</td><td>"+versiondata[2]+' / '+(versiondata[2]/versiondata[1] * 100).toFixed(1)+"</td><td>"+versiondata[3]+' / '+(versiondata[3]/versiondata[1] * 100).toFixed(1)+"</td><td>"+versiondata[4]+' / '+(versiondata[4]/versiondata[1] * 100).toFixed(1)+"</td><td>"+versiondata[5]+' / '+(versiondata[5]/versiondata[1] * 100).toFixed(1)+"</td></tr>";
									//_HTML_TTC=_HTML_TTC+"<tr><td>"+version[i]+"</td><td>"+versiondata.Data.TTC[1][0]+"</td><td>"+versiondata.Data.TTC[1][1]+"</td><td>"+versiondata.Data.TTC[1][2]+"</td><td>"+((versiondata.Data.TTC[1][3] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata.Data.TTC[1][4] * 10000)/100).toFixed(2) + "%"+"</td><td>"+((versiondata.Data.TTC[1][5] * 10000)/100).toFixed(2) + "%"+"</td></tr>";
									xAxis_value.push(versiondata[0]);
									Car_wrong_value.push(versiondata[2]/versiondata[1] * 100);
									Car_missing_value.push(versiondata[3]/versiondata[1] * 100);
									persion_wrong_value.push(versiondata[4]/versiondata[1] * 100);
									persion_missing_value.push(versiondata[5]/versiondata[1] * 100);
									//var Car_wrong_value=[];
									//var Car_missing_value=[];
									//var persion_wrong_value=[];
									//var persion_missing_value=[];
									
							}
						}
						_HTML= _HTML+'</tbody>';
						_HTML= _HTML+'</div>';	
											
						//_HTML_TTC= _HTML_TTC+'</tbody>';
						//_HTML_TTC= _HTML_TTC+'</div>';	
					}
					
					if (xAxis_value.length>0)
					{
					Highcharts.chart('highcharts_trendbyversion_MissingWrong', {
					
					    title: {
					        text: '车辆、行人误检漏检趋势图'
					    },
						
						xAxis: {
							 title:{
							       text:'版本号'
							   },
						    categories: xAxis_value
						},
					
					    yAxis: {
					        title: {
					            text: '每百公里误漏检数'
					        }
					    },
					    legend: {
					        layout: 'vertical',
					        align: 'right',
					        verticalAlign: 'middle'
					    },
					
						//var Car_wrong_value=[];
						//var Car_missing_value=[];
						//var persion_wrong_value=[];
						//var persion_missing_value=[];
						
					    series: [{
					        name: '车辆每百公里误检数',
					        data: Car_wrong_value
					    }, {
					        name: '车辆每百公里漏检数',
					        data: Car_missing_value
					    }, {
					        name: '行人每百公里误检数',
					        data: persion_wrong_value
					    }, {
					        name: '行人每百公里漏检数',
					        data: persion_missing_value
					    }],
					
					    responsive: {
					        rules: [{
					            condition: {
					                maxWidth: 500
					            },
					            chartOptions: {
					                legend: {
					                    layout: 'horizontal',
					                    align: 'center',
					                    verticalAlign: 'bottom'
					                }
					            }
					        }]
					    }
					
					});
					}
					
					
					$("#MissingWrong").append(_HTML);
					//$("#TTC").append(_HTML_TTC);
					
				}
				
				


		</script>
	</head>
	
	<body >

		<ul class="nav nav-tabs" id='headtable'>
		  <li  class="active" id="headtable1" ><a href="/reportbyversion">测试结果按版本统计</a></li>
		  <li  id="headtable2" ><a href="/reportbytime" >测试结果按时间统计</a></li>
		  <li  id="headtable3" ><a href="/uploadbin" >上传测试数据</a></li>
		  <li  id="headtable4" ><a href="/managerment">后台管理</a></li>
		</ul>
		<h1></h1>
		<h1></h1>
		
		<div class="panel panel-info">
		    <div class="panel-heading">
		        <h3 class="panel-title">选择场景进行统计</h3>
		    </div>
		    <div class="panel-body">
		        <div id='sitiationselect'>
		        <select class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true" title="场景选择" id="selectpicker1">
		        <optgroup label="光照">
		                <option value="光照-白天">白天</option>
		                <option value="光照-傍晚">傍晚</option>
		                <option value="光照-黑夜">黑夜</option>
		         </optgroup>   
		          <optgroup label="天气">
		                  <option value="天气-晴">晴</option>
		                  <option value="天气-雨">雨</option>
		                  <option value="天气-雪">雪</option>
		        		  <option value="天气-阴">阴</option>
		        		  <option value="天气-沙尘暴">沙尘暴</option>
		        		  <option value="天气-雾">雾</option>
		           </optgroup>  
		           <optgroup label="路况">
		                   <option value="路况-市内">市内</option>
						   <option value="路况-环线">环线</option>
		                   <option value="路况-高速">高速</option>
		                   <option value="路况-国道">国道</option>
		        		   <option value="路况-县道">县道</option>
		             </optgroup>                          
		        </select>
		        </div>
				<h1></h1>
		        <button id="testAjax" type="button">查询</button>
		    </div>
		</div>
		

		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">车辆行人误检、漏检统计</h3>
		    </div>
		    <div class="panel-body">
				<div id="highcharts_trendbyversion_MissingWrong" style="min-width: 310px;
				max-width: 1600px;
				height: 400px;
				margin: 0 auto"></div>   
		        <div > <table class="table table-bordered" id="MissingWrong"></table></div>
		    </div>
		</div>
		
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">LDW误报、漏报统计（与Mobieye对比）</h3>
		    </div>
		    <div class="panel-body">
				<div id="highcharts_trendbyversion_LDW" style="min-width: 310px;
				max-width: 1600px;
				height: 400px;
				margin: 0 auto"></div>   
		        <div id="LDW"></div>
		        <div id="LDWPicture"></div>
		    </div>
		</div>
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">TTC误报、漏报统计（与Mobieye对比）</h3>
		    </div>
		    <div class="panel-body">
				<div id="highcharts_trendbyversion_TTC" style="min-width: 310px;
				max-width: 1600px;
				height: 400px;
				margin: 0 auto"></div>  
		        <div id="TTC"></div>
		        <div id="TTCPicture"></div>	
		    </div>
		</div>	
		
		
		<div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title">TTC误报、漏报统计（与手工标注的正确结果进行对比）</h3>
		    </div>
		    <div class="panel-body">
				<div id="highcharts_trendbyversion_TTC_manual" style="min-width: 310px;
				max-width: 1600px;
				height: 400px;
				margin: 0 auto"></div>  
		        <div id="TTC_manual"></div>
		        <div id="TTCPicture_manual"></div>	
		    </div>
		</div>	
		
 

	</body>	
</html>
