<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
		<link href="/static/css/bootstrap-select.min.css" rel="stylesheet" />
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<script src="/static/js/bootstrap-select.min.js"></script>
		<script src="/static/js/i18n/defaults-zh_CN.min.js"></script>
		<script src="/static/js/configure.js"></script>
		<script>
			var ipAddress = configure["address"];
			
			function checkInt(n,max,id){
			    var regex = /^\d+$/;
			    if(regex.test(n)){
			       if( n>=0){
			          //alert("这是小于"+max+"的正整数！！")
					  return 0;
			       }
			    }else{
			       
				   
				   //alert(document.getElementById(id).value)
				   document.getElementById(id).value = ""
				   return 1;
				   //$("#"+id).setAttribute('value',0);
				   //document.getElementById("#"+id).setAttribute('value',"");
				   //$("#"+id).
			    }
			}
			
			$(function(){
				
				
				$("#import_missingwrong").click(function(){
				
				   
				   var jsondata = $('#selectpicker2').selectpicker('val');
				   if (!$('#selectpicker2').selectpicker('val'))
				   {
				   	$('#selectpicker2').selectpicker('selectAll');
				   	jsondata = $('#selectpicker2').selectpicker('val');
				   }
				   
				   var options=$("#dataselect option:selected");
				   	strs=options.text().split(/[.~]/); //字符分割	   	
				   var res1 = checkInt(document.getElementById('text1').value,100,'text1');
				   var res3 = checkInt(document.getElementById('text3').value,100,'text3');
				   var res4 = checkInt(document.getElementById('text4').value,100,'text4');
				   var res5 = checkInt(document.getElementById('text5').value,100,'text5');
				   var res6 = checkInt(document.getElementById('text6').value,100,'text6');
				   //||checkInt(this.value,100,'text3')||checkInt(this.value,100,'text4')||checkInt(this.value,100,'text5')||checkInt(this.value,100,'text6');
				   if(res1||res6||res3||res4||res5)
				   {
					   alert("非法输入：非整数");
					   return;
				   }
				   
				   var id = (new Date()).getTime();
				   
				   $.ajax({
				   	type: "POST",  
				   	url: ipAddress+'missingwrong',  
				   	async: false, // 使用同步方式  
				   	// 1 需要使用JSON.stringify 否则格式为 a=2&b=3&now=14...  
				   	// 2 需要强制类型转换，否则格式为 {"a":"2","b":"3"}  
				   	data: JSON.stringify({
						ID:	id,
						Time:	strs[0]+'.'+strs[1]+'.'+strs[2]+'~'+strs[3]+'.'+strs[4]+'.'+strs[5],
				   		distance: $("#text1").val(),
						version: $("#text2").val(),
						Car_wrong: $("#text3").val(),
						Car_missing: $("#text4").val(),
						persion_wrong: $("#text5").val(),
						persion_missing: $("#text6").val(),
						problem: $("#text7").val(),
						Situation: jsondata,
						Timestamp:[Date.UTC(Number(strs[0]),Number(strs[1])-1,Number(strs[2]),0,0,0),Date.UTC(Number(strs[3]),Number(strs[4])-1,Number(strs[5]),0,0,0)]						
						
				   	}),  
				   	contentType: "application/json; charset=utf-8",  
				   	dataType: "json",  
				   	success: function(data) {  },
				   
				   });
				   
				   
				   });
				
					$("#import").click(function(){						
						var jsondata = $('#selectpicker1').selectpicker('val');
						if (!$('#selectpicker1').selectpicker('val'))
						{
							$('#selectpicker1').selectpicker('selectAll');
							jsondata = $('#selectpicker1').selectpicker('val');
						}
						
						$.ajax({  
							type: "POST",  
							url: ipAddress+'getsituiation',  
							async: false, // 使用同步方式  
							// 1 需要使用JSON.stringify 否则格式为 a=2&b=3&now=14...  
							// 2 需要强制类型转换，否则格式为 {"a":"2","b":"3"}  
							data: JSON.stringify({                    
								situ: jsondata,
								version: $("#text8").val(),

							}),  
							contentType: "application/json; charset=utf-8",  
							dataType: "json",  
							success: function(data) {  },

						});
				
				
						var data1 = new FormData();						
						for(var i=0; i< $('#bin_file')[0].files.length; i++){		
							data1.append("bin_file"+String(i), $('#bin_file')[0].files[i]);	
						}										
						$.ajax({
						            type:"POST",
									url: ipAddress+"upload",
						            data:data1,
									processData: false,//这2个参数一定要加
									contentType: false,//这2个参数一定要加
						            success:function(res){
										//var divObj = document.getElementById("response");
										//divObj.innerHTML = '<h1>提交成功,后台正在解析结果，请稍后</h1>';
										$("#response").append('<h1>提交成功,后台正在解析结果，请稍后查询结果</h1>');
						            },
						            error: function (res){
						                var json_data=JSON.stringify(res);
										//var divObj = document.getElementById("response");
										//divObj.innerHTML = '<h1>'+json_data+'</h1>';
										$("#response").append('<h1>'+json_data+'</h1>');
						                //alert(json_data);
						            },
						        });					
						});	
				}); 
							
			function showfilename(){
			$("#filename").empty();
			//var files = document.getElementById("input").files;
			for(var i=0; i< $('#bin_file')[0].files.length; i++){
			//alert(input.files[i].name);
			$("#filename").append('<p>'+$('#bin_file')[0].files[i].name+'</p>');
			}
			}
			

		</script>
	</head>
	
	<body >
		
		<ul class="nav nav-tabs" id='headtable'>
		  <li  id="headtable1" ><a href="/">测试结果</a></li>
		  <li class="active" id="headtable2" ><a href="#" >上传测试数据</a></li>
		</ul>
		<h1> </h1>
		<h1> </h1>
		
		<div class="panel panel-info">
		    <div class="panel-heading">
		        <h3 class="panel-title">bin文件上传（后台自动解析）</h3>
		    </div>
		    <div class="panel-body">
		        <form enctype="multipart/form-data">
		                <p><input type="file" id="bin_file" name="bin_file"  multiple="multiple"  onchange="showfilename()"/></p>	
		        		<p id="filename"></p>
		        </form>
		        
		        <p></p>
		        <div id='sitiationselect'>
		        <select class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true" title="场景选择" id="selectpicker1">
		        <optgroup label="光照">
		                <option value="光照-白天">白天</option>
		                <option value="光照-傍晚">傍晚</option>
		                <option value="光照-黑夜">黑夜</option>
		         </optgroup>   
		          <optgroup label="天气">
		                  <option value="天气-晴">晴</option>
		                  <option value="天气-雨">雨</option>
		                  <option value="天气-雪">雪</option>
		        		  <option value="天气-阴">阴</option>
		        		  <option value="天气-沙尘暴">沙尘暴</option>
		        		  <option value="天气-雾">雾</option>
		           </optgroup>  
		           <optgroup label="路况">
		                   <option value="路况-市内">市内</option>
		                   <option value="路况-高速">高速</option>
		                   <option value="路况-国道">国道</option>
		        		   <option value="路况-县道">县道</option>
		             </optgroup>                          
		        </select>
		        </div>
		        
		        <p></p>
		        <p></p>
				<div class="input-group">
				    <span class="input-group-addon">版本号</span>
				    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text8">
				</div>
				<p></p>
				<p></p>
		        <button id="import">上传bin文件</button>
		        
		        <h1 id="response"></h1>
		    </div>
		</div>

		
				
				
				
				<div class="panel panel-info">
				    <div class="panel-heading">
				        <h3 class="panel-title">车辆行人误检、漏检数据上传</h3>
				    </div>
				    <div class="panel-body">
				        <div id='sitiationselect2'>
				        <select class="form-control selectpicker" data-live-search="true" multiple data-actions-box="true" title="场景选择" id="selectpicker2">
				        <optgroup label="光照">
				                <option value="光照-白天">白天</option>
				                <option value="光照-傍晚">傍晚</option>
				                <option value="光照-黑夜">黑夜</option>
				         </optgroup>   
				          <optgroup label="天气">
				                  <option value="天气-晴">晴</option>
				                  <option value="天气-雨">雨</option>
				                  <option value="天气-雪">雪</option>
				        		  <option value="天气-阴">阴</option>
				        		  <option value="天气-沙尘暴">沙尘暴</option>
				        		  <option value="天气-雾">雾</option>
				           </optgroup>  
				           <optgroup label="路况">
				                   <option value="路况-市内">市内</option>
				                   <option value="路况-高速">高速</option>
				                   <option value="路况-国道">国道</option>
				        		   <option value="路况-县道">县道</option>
				             </optgroup>                          
				        </select>
				        </div>
				        
				        
				        <div id='wrapper'>
				        	  <form>
				        	    <select id="dataselect" class='custom-date' name='dataselect'>
				        	      <option value='7'>7 Days</option>
				        	      <option value='30'>30 Days</option>
				        	      <option selected='selected' value='90'>90 Days</option>
				        	      <option value='180'>180 Days</option>
				        	      <option value='365'>365 Days</option>
				        	      <option value='custom'>Custom</option>
				        	    </select>
				        	  </form>
				        	</div>
				        <script src="/static/js/index_1.js"></script>
				        
				        
				                <div class="input-group">
				                    <span class="input-group-addon">公里数</span>
				                    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text1" >
				                </div>
				        		<div class="input-group">
				        		    <span class="input-group-addon">版本号</span>
				        		    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text2">
				        		</div>
				        		<div class="input-group">
				        		    <span class="input-group-addon">车辆误检</span>
				        		    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text3" >
				        		</div>
				        		<div class="input-group">
				        		    <span class="input-group-addon">车辆漏检</span>
				        		    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text4" >
				        		</div>
				        		<div class="input-group">
				        		    <span class="input-group-addon">行人误检</span>
				        		    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text5" >
				        		</div>
				        		<div class="input-group">
				        		    <span class="input-group-addon">行人漏检</span>
				        		    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text6" >
				        		</div>
				        		<div class="input-group">
				        		    <span class="input-group-addon">问题描述</span>
				        		    <input type="text" class="form-control" placeholder="Twitterhandle" id ="text7">
				        		</div>				
				        		<h1></h1>
				        		<button id="import_missingwrong">上传误漏检数据</button>
				    </div>
				</div>
	</body>	
</html>
